@using Namaskara.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}


@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div id="login-page">
        <div class="detail-template">
            <div class="label-checkout">
                <h4>Login</h4>
            </div>
            <div>
                <div>
                    <table>
                        <tr>
                            <td>@Html.LabelFor(m => m.Email)</td>
                            <td>@Html.TextBoxFor(m => m.Email)</td>
                        </tr>
                        <tr>
                            <td>@Html.LabelFor(m => m.Password)</td>
                            <td>@Html.PasswordFor(m => m.Password)</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><button type="submit" class="button-namas">Login</button></td>
                        </tr>
                    </table>

                    
                    @*Enable this once you have account confirmation enabled for password reset functionality*@
                   
                </div>
            </div>
            @Html.ActionLink("Register as a new user", "Register", null, htmlAttributes: new { @class = "button-namas" })
            @Html.ActionLink("Forgot your password?", "ForgotPassword", null, htmlAttributes: new { @class = "button-namas" })
            
        </div>
        
    </div>
}




@Scripts.Render("~/bundles/jqueryval")
