@model IEnumerable<Namaskara.Models.Order>

@{
    ViewBag.Title = "Order History";
}

<h2>My Order History</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderId)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderId)
        </td>
        <td>
            @String.Format("{0:n}", item.Total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td> 
        <td>
            @Html.DisplayFor(modelItem => item.OrderDate)
        </td>
        <td>
            @Html.ActionLink("Details", "OrderDetails", new { id=item.OrderId }) 
        </td>
    </tr>
}

</table>
