
@model Namaskara.Models.Product
@using Namaskara.Models
@{
    ViewBag.Title = Model.Name;
    string a = "/Images/" + Model.ImageUrl + ".jpg";

    

}

<h2>@Model.Name</h2>
<div>
    <div class="alert alert-success" id="update-message" style="display: none;">
    </div>

    <hr />
    <div class="container">
        <div class="row">
            <div class="col-md-3"><img src="@a" height="200" width="200" /></div>
            <div class="col-sm-6">
                <table>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Name) :</td>
                        <td>@Html.DisplayFor(model => model.Name)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Origin) :</td>
                        <td>@Html.DisplayFor(model => model.Origin)</td>
                    </tr>
                    <tr>Available Sizes</tr>
                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            <td>@item.Size</td>
                            <td>
                                @if (item.IsAvailable)
                                {
                                    if (Model.IsOnSale)
                                    {
                                        <span style="color:red">@String.Format("Rp {0:n}", item.RetailPrice)</span>
                                            <span>--></span>
                                                    <span style="color:green">@String.Format("Rp {0:n}", Utilities.FindReducedPrice(item.RetailPrice, Model.DiscountPercentage))</span>
                                    }
                                    else
                                    {
                                        <span>@String.Format("Rp {0:n}", item.RetailPrice)</span>
                                    }

                                    <input type="number" min="0" max="10" id="count-@item.Id" class="count" />
                                        <button class="addCart" data-id="@item.Id">Add to Cart</button>
                                }
                                else
                                {
                                    @Html.Raw("Not Available")
                                }
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>

@section scripts {
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script type="text/javascript">
    $(document).ready(function (e) {

        $(".addCart").click(function () {

            var itemToAdd = $(this).attr("data-id");
            var itemCount = $("#count-" + itemToAdd).val();

            if (itemToAdd != "" & itemCount != 0) {

                $.post('@Url.Action("AddToCart", "ShoppingCart")', { id: itemToAdd, count: itemCount },
                    function (data) {
                        $("#update-message").text(data.Message).show();

                        $("#cart").load('@Url.Action("CartSummary", "ShoppingCart")');
                        $(".count").val("0");


                    }, "json");
            }
        });
    });




    </script>
}
