@model IEnumerable<Namaskara.Models.Product>
@using Namaskara.Models

@{
    ViewBag.Title = ViewData["CatName"];
}





<!-- MAIN CONTENT -->
<div id="productIndex" class="fleft-main">
    <div>
        @{ Html.RenderAction("CategoryList", "Store");}
    </div>

    <div class="fleft-right">
        <div class="catName">
            <h2>@ViewData["CatName"]</h2>
        </div>
        
        
        <div id="products">
           
            @foreach (var item in Model)
            {
                <div class="box">
                    <div data-wl="@item.ProductId" class="wish-list-icon" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"></div>
                       <div data-toggle="tooltip" title="@item.Name" data-delay="200">
                        <a href="@Url.Action("Details", new { id = item.ProductId })">
                            <div>
                                @if (item.ImageUrl == "" || item.ImageUrl == null)
                                {
                                    <img src="~/Images/amaranth.jpg" />
                                }
                                else
                                {
                                    <img src="@Url.Content("/Images/" + @item.ImageUrl + ".jpg")" />
                                }
                            </div>
                        </a>
                        <div>
                            <p>@item.Items[0].Name</p>
                            <p>@item.Items[0].Size</p>
                            @if (item.IsOnSale)
                            {
                                <p class="price" style="color:red">@Utilities.CheckEnquiry(Utilities.FindReducedPrice(item.Items[0].RetailPrice, item.DiscountPercentage))</p>
                            }
                            else
                            {
                                <p class="price">@Utilities.CheckEnquiry(item.Items[0].RetailPrice)</p>
                            }

                        </div>
                    </div>
                    @if (item.Items[0].RetailPrice != 0)
                    {
                        <a href="@Url.Action("DetailsPartial", new { id = @item.ProductId })" class="modal-link addCart">
                            <div>Add To Cart</div>
                        </a>
                    }
             </div>

            }
        </div>
    </div>
</div>
<div class="clear"></div>

<!-- MODAL CONTENT -->
<div id="productDetails" class="modal fade" role="dialog">

</div>

<div id="wl-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>

@section scripts {
    @*Modal scripts*@
    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();

            $('body').on('click', '.modal-link', function (e) {
                e.preventDefault();
                $(this).attr('data-target', '#productDetails');
                $(this).attr('data-toggle', 'modal');
            });

            $('body').on('click', '.modal-close-btn', function () {
                $("#productDetails").modal('hide');
            });

            $(".modal-body").on('click', function () {
                $("#productDetails").find(".modal-dialog").css("padding-top", 300);
            });

            $("#productDetails").on('hidden.bs.modal', function () {
                $(this).removeData('bs.modal');
                
            });

            $("#CancelModal").on('click', function () {
                return false;
            });
        });
    </script>

    @*Function Scripts*@
    <script type="text/javascript">
        $(document).ready(function () {
            $(".wish-list-icon").click(function () {
                var prodId = $(this).attr("data-wl");
                $.post("/Store/AddToWishlist/", { id : prodId },
                    function(data){
                        $("#wl-modal .modal-body").text(data);
                        $("#wl-modal").modal('show');
                    });
            });
        });
    </script>
    }







