@model Namaskara.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}


@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div id="login-page">
        <div class="detail-template">
            <div class="label-checkout">
                <h4>Change Password</h4>
            </div>
            <div>
                <div>
                    <table>
                        <tr>
                            <td>@Html.LabelFor(m => m.OldPassword)</td>
                            <td>@Html.PasswordFor(m => m.OldPassword)</td>
                        </tr>
                        <tr>
                            <td>@Html.LabelFor(m => m.NewPassword)</td>
                            <td>@Html.PasswordFor(m => m.NewPassword)</td>
                        </tr>

                        <tr>
                            <td>@Html.LabelFor(m => m.ConfirmPassword)</td>
                            <td>@Html.PasswordFor(m => m.ConfirmPassword)</td>
                        </tr>

                        
                        <tr>
                            <td></td>
                            <td><button type="submit" class="button-namas">Change Password</button></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}