<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Namaskara Superfood</title>
    
    <link href="~/Content/reset.css" rel="stylesheet" />
    @Styles.Render("~/Content/css2")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
    
    

</head>
<body>
    <div id="wrapper">
        <div id="header">
            <div id="leftHeader">
                <div id="logo">
                    <a href="#">
                        <img src="~/Images/Namaskara Alternatives-01.png" />
                    </a>
                </div>
                <div id="navigation">
                    <nav>
                        <ul>
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("How To Buy", "HowToBuy", "Home")</li>
                            <li>@Html.ActionLink("Products", "ProductIndex", "Store")</li>
                            <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div id="rightHeader">
                <div>
                    @Html.Partial("_LoginPartial")
                    <div id="cart-reload">
                        @{ Html.RenderAction("CartSummary", "ShoppingCart");}
                    </div>
                    
                </div>
                <div id="searchDiv">
                    <input id="searchBox" type="text" placeholder="Search Box" />
                    <ul id="searchResult"></ul>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        
        <div id="mainBody">
           <div>
               @RenderBody()
           </div>
            
        </div>
        <div id="footer">
            <div>
                <div class="row">
                    <div class="col-sm-3">
                        <h4>Information</h4>
                        <br />
                        <ul>
                            <li><a href="@Url.Action("About","Home")">about us</a></li>
                            <li><a href="@Url.Action("HowToOrder","Home")">how to order</a></li>
                            <li><a href="#">payment confirmation</a></li>
                            <li><a href="#">shipping charges</a></li>
                            <li><a href="#">delivery information</a></li>
                            <li><a href="@Url.Action("Contact","Home")">contact us</a></li>
                            <li><a href="@Url.Action("FAQ","Home")">FAQ</a></li>
                            <li><a href="@Url.Action("Terms & Conditions","Home")">Terms & Conditions</a></li>
                        </ul>
                        
                        <hr />
                    </div>              
                    <div class="col-sm-3">
                        <h4>My Account</h4>
                        <br />
                        <ul>
                            <li><a href="@Url.Action("Index","Account")">my account</a></li>
                            <li><a href="@Url.Action("OrderHistory","Account")">order history</a></li>
                            <li><a href="@Url.Action("Wishlist","Account")">wish list</a></li>
                            <li><a href="#">newsletter</a></li>
                        </ul>
                        <hr />
                    </div>
                    <div class="col-sm-4">
                        
                        <div id="logo-footer-img">
                            <img src="~/Images/Namaskara Alternatives-01.png" />
                        </div>
                        <div>
                            <img src="~/Images/Line_logo.png" class="logo" /><span>NAMASKARAINDONESIA</span>
                        </div>
                        <div>
                            <img src="~/Images/WhatsApp-icon.png" class="logo" /><span>081232225941</span>
                        </div>
                    </div>
                    
                    
                </div>
            </div>  
        </div>
    </div>
    
    
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/mainJS.js"></script>
    @RenderSection("scripts", false)
</body>
</html>
