<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Namaskara Superfood</title>
    
    <link href="~/Content/reset.css" rel="stylesheet" />
    @Styles.Render("~/Content/css2")
    @Scripts.Render("~/bundles/modernizr")
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <script src="~/Scripts/jquery-2.2.1.js"></script>

</head>
<body>
    <div id="wrapper">
        <div id="header">
            <div id="leftHeader">
                <div id="logo">
                    <a href="#">
                        <img src="~/Images/NamaskaraLogoTest.png" />
                    </a>
                </div>
                <div id="navigation">
                    <nav>
                        <ul>
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("How To Buy", "HowToBuy", "Home")</li>
                            <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                            <li>@Html.ActionLink("Payment Confirmation", "PaymentConfirmation", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div id="rightHeader">
                <div>
                    @Html.ActionLink("Sign In", "Login", "Account")<span>  /  </span>@Html.ActionLink("Register", "Register", "Account")
                    <div>
                        <a href="@Url.Action("Index","ShoppingCart")"><img src="~/Images/cart.png" /></a> 
                    </div>
                    <a href="#">0 ITEM // IDR 0</a>
                </div>
                <div>
                    <input id="searchBox" type="text" placeholder="Search Box" />
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div>
            <a href="#">Home</a> -> <a href="#">Test</a>
        </div>
        <div id="mainBody">
           <div>
               @RenderBody()
           </div>
            
        </div>
        <div id="footer">
            <div>
                <div class="row">
                    <div class="col-sm-3">
                        <h4>Information</h4>
                        <br />
                        <ul>
                            <li><a href="#">about us</a></li>
                            <li><a href="#">how to order</a></li>
                            <li><a href="#">payment confirmation</a></li>
                            <li><a href="#">shipping charges</a></li>
                            <li><a href="#">delivery information</a></li>
                            <li><a href="#">contact us</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                        </ul>
                        
                        <hr />
                    </div>              
                    <div class="col-sm-3">
                        <h4>My Account</h4>
                        <br />
                        <ul>
                            <li><a href="#">my account</a></li>
                            <li><a href="#">order history</a></li>
                            <li><a href="#">wish list</a></li>
                            <li><a href="#">newsletter</a></li>
                        </ul>
                        <hr />
                    </div>
                    <div class="col-sm-2">
                        <h4>Follow us</h4>
                        <br />
                        <div>
                            <span><a href="#"><img src="~/Images/instagram-logo.png" class="logo" /></a></span>
                            <span><a href="#"><img src="~/Images/facebook-logo.png" class="logo" /></a></span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div>
                            <img src="~/Images/NamaskaraLogoTest.png" height="100" width="200"/>
                        </div>
                        <div>
                            <img src="~/Images/Line_logo.png" class="logo"/><span>NAMASKARAINDONESIA</span>
                        </div>
                        <div>
                            <img src="~/Images/WhatsApp-icon.png" class="logo"/><span>081232225941</span>
                        </div>
                        <hr />
                    </div>
                    
                </div>
            </div>  
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", false)
</body>
</html>
