@model Namaskara.ViewModels.UploadImageModel
@using Namaskara.Models

@{
    ViewBag.Title = "ConfirmPayment";
}





@using (Html.BeginForm("ConfirmPayment", "Checkout", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.OrderId)

    <div id="payment-confirmation">
        <div class="detail-template">
            <div class="label-checkout">
                <h4>Payment Confirmation</h4>
            </div>
            <div>
                <div>
                    <div class="detailsBox">
                        <h6>Order Number : @Html.DisplayFor(m => m.OrderId)</h6>
                        
                    </div>
                    <div class="detailsBox">
                        <h6>Total Price : @String.Format("Rp {0:n}", Model.OrderTotal)</h6>
                        
                    </div>
                    <div class="detailsBox">
                        <h6>@Html.LabelFor(model => model.Bank)</h6>
                        @Html.EditorFor(model => model.Bank)
                        @Html.ValidationMessageFor(model => model.Bank, "", new { @class = "text-danger" })
                    </div>
                    <div class="detailsBox">
                        <h6>@Html.LabelFor(model => model.AccountName)</h6>
                        @Html.EditorFor(model => model.AccountName)
                        @Html.ValidationMessageFor(model => model.AccountName, "", new { @class = "text-danger" })
                    </div>
                    <div class="detailsBox">
                        <h6>@Html.LabelFor(model => model.AccountNumber)</h6>
                        @Html.EditorFor(model => model.AccountNumber)
                        @Html.ValidationMessageFor(model => model.AccountNumber, "", new { @class = "text-danger" })
                    </div>
                    <div class="detailsBox">
                        <h6>@Html.LabelFor(model => model.AmountPaid)</h6>
                        @Html.EditorFor(model => model.AmountPaid)
                        @Html.ValidationMessageFor(model => model.AmountPaid, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="clear"></div>

                <button class="button-namas">Submit</button>
            </div>
        </div>

        

        <div class="detail-template" id="how-to-pay">
            <div class="label-checkout">
                <h4>How to Pay</h4>
            </div>
            <div>
                <div>
                    <p>
                        Please transfer the total price of the order to :
                        <br />
                        <br />
                        Bank Name : @Config.BankAccount[0]
                        <br />
                        Account Name : @Config.BankAccount[1]
                        <br />
                        Account Number : @Config.BankAccount[2]
                        <br />
                        <br />
                        After the transfer has been made, please confirm your payment by filling the form with the accurate information.
                        <br />
                        <br />
                        An email will be sent to you after our admin has confirmed the payment.
                        <br />
                        <br />
                        Thank you.

                    </p>
                </div>
            </div>
        </div>

        <div class="clear"></div>

    </div>

}

@section scripts{
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    }