@using Namaskara.Models

@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>
<br />
@if (ViewBag.Message != null)
{
    <div class="alert alert-success" id="update-message">
        @ViewBag.Message
    </div>
    <br />
}

<p>Email: @Config.Email</p>
<p>Whatsapp: @Config.WhatsAppNumber</p>




@using (Html.BeginForm())
{
    @Html.ValidationSummary();
    @Html.AntiForgeryToken();

    <table id="contact">
        <tr>
            <td><label for="Name">Name</label></td>
            <td><input name="Name" id="Name" /><br /></td>
        </tr>
        <tr>
            <td><label for="Email">Email</label></td>
            <td><input name="Email" id="Email" /><br /></td>
        </tr>
        <tr>
            <td><label for="Subject">Subject</label></td>
            <td><input name="Subject" id="Subject" /><br /></td>
        </tr>
        <tr>
            <td><label for="Message">Message</label></td>
            <td><textarea name="Message" id="Message" cols="30" rows="5"></textarea></td>
        </tr>
        <tr>
            <td></td>
            <td><button>Send</button></td>
        </tr>
    </table>
}





