@model Namaskara.ViewModels.ShoppingCartViewModel
@using Namaskara.Models

@{
    ViewBag.Title = "Shopping Cart";
}


@section scripts{
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script type="text/javascript">
    $(document).ready(function (e) {

        $(".RemoveLink").click(function () {

            var recordToDelete = $(this).attr("data-id");
            var itemPrice = $("#itemPrice-"+recordToDelete).attr("data-id");

            if (recordToDelete != "") {

                $.post('@Url.Action("RemoveFromCart", "ShoppingCart")', { id: recordToDelete },
                    function (data) {
                        if (data.ItemCount == 0) {
                            $("#row-" + data.DeleteId).fadeOut("slow");
                        } else {
                            $("#item-count-" + data.DeleteId).text(data.ItemCount);
                            $("#total-price-" + data.DeleteId).text(parseFloat(Math.round(data.ItemCount * itemPrice)).toFixed(2));

                        }
                        $("#cart-total").text(data.CartTotal);
                        $("#update-message").text(data.Message);
                        $("#cart-status").text("Cart (" + data.CartCount + ")");

                    }, "json");
            }
        });
    });

</script>

    }

@if (Model.CartItems.Count > 0)
{
    <div id="shoppingCart">
        <table>
            <tr class="table-head">
                <td></td>
                <td>Product Name</td>
                <td>Unit Price</td>
                <td>Qty</td>
                <td>Total</td>
                <td></td>
            </tr>
            @foreach (var item in Model.CartItems)
            {

                <tr id="row-@item.RecordId">
                    <td>
                        <img src="@Url.Content("/Images/" + @item.Item.Product.ImageUrl + ".jpg")" />
                    </td>
                    <td>
                        @Html.ActionLink(item.Item.DisplayName, "Details", "Store", new { id = item.Item.ProductId }, null)
                    </td>
                    <td id="itemPrice-@item.RecordId" data-id="@item.Item.RetailPrice">
                        @if (item.Item.Product.IsOnSale)
                        {

                            <span style="color:green">@String.Format("{0:n}", item.Item.RetailPrice)</span>
                            <span>--></span>
                            <span style="color:red">@String.Format("{0:n}", Utilities.FindReducedPrice(item.Item.RetailPrice, item.Item.Product.DiscountPercentage))</span>

                        }
                        else
                        {
                            @String.Format("{0:n}", item.Item.RetailPrice)
                        }
                    </td>
                    <td id="item-count-@item.RecordId">
                        @item.Count
                    </td>
                    <td id="total-price-@item.RecordId">
                        @if (item.Item.Product.IsOnSale)
                        {
                            @Html.Raw(String.Format("Rp {0:n}", Utilities.FindReducedPrice(item.Item.RetailPrice, item.Item.Product.DiscountPercentage) * item.Count));
                        }
                        else
                        {
                            @Html.Raw(String.Format("Rp {0:n}", @item.Item.RetailPrice * @item.Count));
                        }

                    </td>
                    <td>
                        <a href="#" class="RemoveLink" data-id="@item.RecordId">
                            X
                        </a>
                    </td>
                </tr>
            }
        </table>

        <div class="cartButtons float-right">
            <h3 id="cart-total">TOTAL : @String.Format("Rp {0:n}", @Model.CartTotal)</h3>
        </div>

        <div class="cartButtons float-left">
            <a href="@Url.Action("ProductIndex", "Store")"><h3>Continue Shopping</h3></a>
        </div>
        <div class="clear"></div>

        <div class="cartButtons float-right">
            <a href="@Url.Action("AddressAndPayment", "Checkout")"><h3>Checkout</h3></a>
        </div>
        <div class="clear"></div>

    </div>
}
else
{
    <h3>You cart is empty.</h3>
    <p>@Html.ActionLink("Browse through our products here", "ProductIndex", "Store")</p>
}


